<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.liuqi.mi.dao.CartcheckedlistDao">

    <select id="getCartcheckedlist" resultType="CartCheckedList">
        select *from cartcheckedlist
    </select>

    <insert id="InsertCartCheckedList" parameterType="CartCheckedList">
        INSERT INTO `cartCheckedList`(image_url,cname,cprice,camount,cid)
        select image_url,cname,cprice,camount,cid from cart WHERE cid in
        <foreach collection="cids" open="(" item="cid" separator="," close=")">
            #{cid}
        </foreach>
    </insert>

    <update id="UpdateCartcheckedlist" parameterType="CartCheckedList">
        update cartcheckedlist set orderId=#{orderId}
    </update>

    <delete id="DeleteCartcheckedlist">
        delete from cartCheckedList
    </delete>

</mapper>